.header-image {
    width: 100%; /* Breite des Bildes relativ zum umgebenden Element */
    max-width: 370px; /* Maximale Breite des Bildes */
    height: auto; /* Höhe wird automatisch angepasst, um das Seitenverhältnis beizubehalten */
    display: block; /* Block-Level-Element, um keine Ränder zu haben */
    margin: 0 auto; /* Zentriert das Bild horizontal */
    margin-top: 50px;
}

body {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9d9ff;
}

#main-container {
    border: 1px solid #BD10E0;
    padding: 0px;
    margin: 50px auto;
    width: 55%; /* Oder eine andere Breite, je nach Bedarf */
    box-shadow: 10px 10px 70px rgba(58, 4, 68, 0.4); /* Optional: Schatten für Tiefe */
    background-color: white; /* Hintergrundfarbe */
    height: 880px;
}

.profile-info {
    font-family: Arial, sans-serif;
    color: white;
	background-color: #BD10E0;
	width: 23%;
	height: 760px;
	/* border-radius: 15px; */
	padding: 40px 40px 80px 40px;
    
}

.UserImage {
    width: 100%;
    max-width: 200px;
    height: auto; /* Höhe wird automatisch angepasst, um das Seitenverhältnis beizubehalten */
    display: block; /* Block-Level-Element, um keine Ränder zu haben */
    margin: 50px; /* Zentriert das Bild horizontal */
    margin-top: 0px;
    margin-left: 60px;
}

#toggleChart {
    margin-top: 20px;
    margin-left: 1270px;
    height: 6%;
    width: 4%;
    border-color: #ffffff;
    background-color:#f9d9ff;
    box-shadow: 3px 3px 3px rgba(58, 4, 68, 0.8);
}

#toggleChart img {
    width: 100%;
}

#toggleChart:hover {
    background-color: rgba(179, 12, 167, 0.467); /* Macht den Button-Hintergrund dunkler */
  }
  

#myChart {
    margin-top: -10px !important;
    margin-left: 420px !important;
    font-family: Arial, sans-serif;
    width: 850px !important;
    height: 440px !important; /* Set the maximum width of the chart */
    margin: 0 auto; /* Center the chart horizontally */
    display: block; /* Use block to apply the margin correctly */
    background-color: #ffffff;
    /* border-radius: 15px;
    border: #BD10E0 1px solid; */
}

#myPieChart {
    margin-top: -20px !important;
    margin-left: 660px !important;
    font-family: Arial, sans-serif;
    width: 440px !important;
    height: 440px !important; /* Set the maximum width of the chart */
    margin: 0 auto; /* Center the chart horizontally */
    display: block; /* Use block to apply the margin correctly */
    background-color: #ffffff;
}

#sumsTable {
    margin-left: 412px;
    width: 68%;
    border-collapse: collapse;
    margin-top: -860px; /* Add some space above the table */
    font-weight: bold;
    font-size: 26px;
    background-color: #f9d9ff;
}

#sumsTable, #sumsTable th, #sumsTable td {
    border: 3px solid #ffffff;
}

#sumsTable th, #sumsTable td {
    padding: 9px;
    text-align: left;
    color: rgb(0, 0, 0)
}
  



